* { margin: 0; padding: 0; }

body {
	background: #CCC;
}

.header, .main, .footer {
	background: #fff;
}

.container {
	width: 80%;
	margin: 20px auto;
	padding: 20px;
	background: #EEE;
}

.header {
	padding: 20px; margin-bottom: 20px;
}

.footer {
	padding: 20px; margin-top: 20px;
}

.main {
	overflow: hidden;
}

.inner {
	padding: 20px;
}

.content .inner {
	padding-right: 0;
}

.content, .sidebar {
	float: left;
}

.content {
	width: 70%;
}

.sidebar {
	width: 30%;
}
